.error-container {
  display: flex;
  height: 100vh;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-404 {
  font-weight: 600;
  font-size: 20rem;
  color: #222;
}

.error-text {
  font-weight: 500;
  font-size: 7rem;
  color: #222;
}
